<script type="text/x-template" id="main">
	<a class="btn btn-primary add">
		<i class="fa fa-plus"></i>
		Добавить тип
	</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Название</th>
				<th style="text-align:right">Действия</th>
			</tr>
		</thead>
		<tbody>
			<tr class="alert alert-danger hidden">
				<td colspan="2"></td>
			</tr>
		</tbody>
	</table>
</script>
<script type="text/x-template" id="edit_item">
	<td>
		<input class="form-control" type="text" value="<%- this.model.get('name') %>" />
		<div style='margin-top:5px' class="alert alert-danger hidden"></div>
	</td>
	<td align="right">
		<a title="Сохранить" class="btn btn-white btn-bitbucket save">
			<i class="fa fa-check"></i>
		</a>
		<a title="Отменить" class="btn btn-white btn-bitbucket cancel">
			<i class="fa fa-times"></i>
		</a>						
	</td>	
</script>
<script type="text/x-template" id="show_item">
	<td>
		<span><%- this.model.get('name') %></span>
		<div style='margin-top:5px' class="alert alert-danger hidden"></div>
	</td>
	<td align="right">
		<a title="Редактировать" class="btn btn-white btn-bitbucket edit">
			<i class="fa fa-pencil"></i>
		</a>
		<a title="Удалить" class="btn btn-white btn-bitbucket remove">
			<i class="fa fa-trash-o"></i>
		</a>						
	</td>
</script>